* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.piano {
    height: 290px;
    width: 600px;
    padding: 90px 30px 0 30px;
    background-color: black;
    border-radius: 10px;
}

.keys {
   position: relative;
}

.white-keys {
    display: flex;
    justify-content: center;
}

.white-key {
    width: 68px;
    border-radius: 0 0 5px 5px;
    height: 270px;
    border: solid grey 1px;
    background-color: white;
    box-sizing: border-box;
}

.black-keys {
    position: relative;
    display: flex;
}

.black-key {
    width: 38px;
    height: 160px;
    border-radius: 0 0 5px 5px;
    position: absolute;
    background-color: black;
    color: white;
    box-sizing: border-box;
}

.black-key:nth-child(1) {
    left: 48px;
}

.black-key:nth-child(2) {
    left: 117px;
}

.black-key:nth-child(3) {
    left: 253px;
}

.black-key:nth-child(4) {
    left: 320px;
}

.black-key:nth-child(5) {
    left: 389px;
}

.black-key:nth-child(6) {
    left: 525px;
}

.black-key:nth-child(7) {
    left: 594px;
}


